@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  -webkit-tap-highlight-color: transparent;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #333;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1150px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}

.moretext__more span {
  font-style: normal;
}

.moretext__more span:first-child {
  display: block;
}

.moretext__more span:last-child {
  display: none;
}

.moretext__more.active span {
  font-style: normal;
}

.moretext__more.active span:first-child {
  display: none;
}

.moretext__more.active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider .slick-slide {
  position: relative;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}

.baloon button {
  display: none !important;
}

.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}

.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}

.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.callback {
  width: 100%;
  max-width: 170px;
  overflow: hidden;
  padding: 13px 5px;
  -webkit-box-shadow: 0 8px 18px rgba(242, 147, 81, 0.45);
          box-shadow: 0 8px 18px rgba(242, 147, 81, 0.45);
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6bd60), to(#e88952));
  background-image: -o-linear-gradient(#f6bd60 0%, #e88952 100%);
  background-image: linear-gradient(#f6bd60 0%, #e88952 100%);
  text-align: center;
  color: #fff;
  /* Style for "Заказать з" */
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.6px;
  -webkit-transition: -webkit-box-shadow .3s ease, -webkit-transform .2s ease;
  transition: -webkit-box-shadow .3s ease, -webkit-transform .2s ease;
  -o-transition: box-shadow .3s ease, transform .2s ease;
  transition: box-shadow .3s ease, transform .2s ease;
  transition: box-shadow .3s ease, transform .2s ease, -webkit-box-shadow .3s ease, -webkit-transform .2s ease;
}

.callback:hover {
  -webkit-box-shadow: 0 8px 8px 5px rgba(242, 147, 81, 0.45);
          box-shadow: 0 8px 8px 5px rgba(242, 147, 81, 0.45);
}

.callback:active {
  -webkit-box-shadow: 0 3px 4px 3px rgba(242, 147, 81, 0.45);
          box-shadow: 0 3px 4px 3px rgba(242, 147, 81, 0.45);
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.title {
  /* Style for "Какие доку" */
  width: 100%;
  color: #333333;
  font-size: 33px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;

}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  -webkit-transition: background .25s ease, -webkit-box-shadow .25s ease;
  transition: background .25s ease, -webkit-box-shadow .25s ease;
  -o-transition: background .25s ease, box-shadow .25s ease;
  transition: background .25s ease, box-shadow .25s ease;
  transition: background .25s ease, box-shadow .25s ease, -webkit-box-shadow .25s ease;
}

.header._scroll {
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  background-color: #f6f6f6;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
}

.header__logo {
  width: 165px;
  max-width: unset;
}

.header__logo-info {
  max-width: 195px;
  color: #5d5d5d;
  font-weight: 500;
  line-height: 17px;
  margin-left: 40px;
  position: relative;
}

.header__logo-info:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;
  width: 2px;
  height: 44px;
  background-color: #89afef;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__social-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  width: 30%;
}

.header__social-list {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__social-item {
  margin: 0 10px;
}

.header__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Style for "Oval" */
  width: 43px;
  height: 43px;
  border-radius: 50%;
  fill: #fff;
  -webkit-transition: -webkit-box-shadow .3s ease, -webkit-transform .2s ease;
  transition: -webkit-box-shadow .3s ease, -webkit-transform .2s ease;
  -o-transition: box-shadow .3s ease, transform .2s ease;
  transition: box-shadow .3s ease, transform .2s ease;
  transition: box-shadow .3s ease, transform .2s ease, -webkit-box-shadow .3s ease, -webkit-transform .2s ease;
}

.header__social-link_green {
  -webkit-box-shadow: 0 8px 25px rgba(45, 208, 56, 0.5);
          box-shadow: 0 8px 25px rgba(45, 208, 56, 0.5);
  background-color: #2dd038;
}

.header__social-link_green:hover {
  -webkit-box-shadow: 0 8px 7px 2px rgba(45, 208, 56, 0.5);
          box-shadow: 0 8px 7px 2px rgba(45, 208, 56, 0.5);
}

.header__social-link_green:active {
  -webkit-box-shadow: 0 3px 4px 1px rgba(45, 208, 56, 0.5);
          box-shadow: 0 3px 4px 1px rgba(45, 208, 56, 0.5);
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.header__social-link_purple {
  -webkit-box-shadow: 0 8px 25px rgba(123, 81, 157, 0.5);
          box-shadow: 0 8px 25px rgba(123, 81, 157, 0.5);
  background-color: #7b519d;
}

.header__social-link_purple:hover {
  -webkit-box-shadow: 0 8px 7px 2px rgba(123, 81, 157, 0.5);
          box-shadow: 0 8px 7px 2px rgba(123, 81, 157, 0.5);
}

.header__social-link_purple:active {
  -webkit-box-shadow: 0 3px 4px 1px rgba(123, 81, 157, 0.5);
          box-shadow: 0 3px 4px 1px rgba(123, 81, 157, 0.5);
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.header__social-link_blue {
  -webkit-box-shadow: 0 8px 25px rgba(91, 186, 240, 0.5);
          box-shadow: 0 8px 25px rgba(91, 186, 240, 0.5);
  background-color: #5bbaf0;
  padding-right: 3px;
}

.header__social-link_blue:hover {
  -webkit-box-shadow: 0 8px 7px 2px rgba(91, 186, 240, 0.5);
          box-shadow: 0 8px 7px 2px rgba(91, 186, 240, 0.5);
}

.header__social-link_blue:active {
  -webkit-box-shadow: 0 3px 4px 1px rgba(91, 186, 240, 0.5);
          box-shadow: 0 3px 4px 1px rgba(91, 186, 240, 0.5);
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.header__social-img {
  margin: auto;
  width: 20px;
  height: 20px;
}

.header__contacts-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts {
  padding: 0 5px;
}

.header__contacts-link {
  display: block;
  white-space: nowrap;
  color: #333333;
  position: relative;
}

.header__tel {
  font-size: 19px;
  font-weight: 700;
  margin: 0 0 4px 0;
  padding-left: 25px;
}

.header__tel:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../img/svg/phone.svg");
}

.header__email {
  font-size: 16px;
  font-weight: 500;
  margin-left: 27px;
  padding-left: 26px;
}

.header__email:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
  height: 13px;
  background-image: url("../img/svg/mail.svg");
}

.header__callback {
  margin: 0 5px 2px auto;
}

.header-menu__nav-link {
  color: #333333;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  margin-left: 5px;
  display: block;
}

.header-menu__nav-link_first {
  margin-left: 0;
}

.header-menu__nav-link:active {
  -webkit-box-shadow: 0 0 0 #ececec, 0 0 0 #ffffff;
          box-shadow: 0 0 0 #ececec, 0 0 0 #ffffff;
}

.header-menu__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.logo {
  display: block;
  width: 100%;
  max-width: 165px;
  height: 52px;
  border: 1px dashed #3333332b;
  border-radius: 10px;
}

.icon-menu {
  display: none;
}

.first-block {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fafafb), color-stop(50%, #c6d5fa));
  background: -o-linear-gradient(left, #fafafb 50%, #c6d5fa 50% 100%);
  background: linear-gradient(to right, #fafafb 50%, #c6d5fa 50% 100%);
  position: relative;
}

.first-block:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  width: 1920px;
  background: url("../img/svg/bg-head.svg") top -25px right -50px no-repeat;
  background-size: 1133px;
  z-index: 2;
}

.first-block:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  width: 1920px;
  background-color: #fafafb;
  z-index: 1;
}

._no-webp .first-block__content{
  background: url("../img/bg-man.png") bottom 0 right 120px no-repeat; }

.first-block__content {
  min-height: 720px;
  position: relative;
  z-index: 3;
  padding: 240px 0 20px;
}

.first-block__title {
  max-width: 675px;
  color: #333333;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 52px;
}

.first-block__offer {
  /* Style for "аттестация" */
  color: #333333;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 40px;
}

.first-block__callback {
  display: block;
  max-width: 200px;
  padding: 18px 5px 14px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 8px 18px rgba(132, 170, 237, 0.45);
          box-shadow: 0 8px 18px rgba(132, 170, 237, 0.45);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#87aff1), color-stop(100%, #6c80cb), to(#6c80cb));
  background-image: -o-linear-gradient(#87aff1 0%, #6c80cb 100%, #6c80cb 100%);
  background-image: linear-gradient(#87aff1 0%, #6c80cb 100%, #6c80cb 100%);
}

.first-block__callback:hover {
  -webkit-box-shadow: 0 8px 8px 5px rgba(132, 170, 237, 0.45);
          box-shadow: 0 8px 8px 5px rgba(132, 170, 237, 0.45);
}

.first-block__callback:active {
  -webkit-box-shadow: 0 3px 4px 3px rgba(132, 170, 237, 0.45);
          box-shadow: 0 3px 4px 3px rgba(132, 170, 237, 0.45);
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.categories__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0 40px;
}

.categories__slider {
  max-height: 900px;
  margin-bottom: 25px;
  padding: 0 12px;
}

.categories__slider > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories__scrollbar {
  width: 100%;
  height: 25px;
  padding: 3px;
  border-radius: 7px;
  margin-bottom: 10px;
  background: #f6f6f6;
  -webkit-box-shadow: inset 4px 4px 10px #ececec, inset -4px -4px 10px #fff;
          box-shadow: inset 4px 4px 10px #ececec, inset -4px -4px 10px #fff;
}

.categories__scrollbar > .swiper-scrollbar-drag {
  border-radius: 5px;
  height: 100%;
  background-color: rgba(135, 175, 241, 0.6);
  -webkit-box-shadow: 4px 4px 10px #ececec, -4px -4px 10px #fff;
          box-shadow: 4px 4px 10px #ececec, -4px -4px 10px #fff;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.categories__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 260px;
  min-height: 190px;
  width: 100%;
  padding: 25px;
  margin: 10px auto;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  -webkit-transition: -webkit-box-shadow .15s ease, -webkit-transform .15s ease;
  transition: -webkit-box-shadow .15s ease, -webkit-transform .15s ease;
  -o-transition: box-shadow .15s ease, transform .15s ease;
  transition: box-shadow .15s ease, transform .15s ease;
  transition: box-shadow .15s ease, transform .15s ease, -webkit-box-shadow .15s ease, -webkit-transform .15s ease;
}

.categories__link:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 7px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 7px 30px rgba(0, 0, 0, 0.1);
}

.categories__link svg {
  width: 66px;
  height: 66px;
  display: block;
  fill: #86adef;
  margin-bottom: 15px;
}

.categories__link-title {
  display: block;
  text-align: center;
  /* Style for "Неразрушаю" */
  color: #333333;
  font-size: 19px;
  font-weight: 500;
}

.pluses {
  background-color: #f6f6f6;
}

.pluses__content {
  padding: 40px 0;
  min-height: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pluses__item-box {
  width: 25%;
  max-width: 240px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.pluses__item-box:nth-child(1) svg {
  width: 51px;
  height: 51px;
}

.pluses__item-box:nth-child(4) svg {
  width: 62px;
  height: 62px;
}

.pluses__img-wrap {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 17px;
}

.pluses__img-wrap svg {
  width: 55px;
  height: 55px;
  fill: #86adef;
}

.pluses__item-box-title {
  color: #333333;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}

.pluses__text {
  color: #333333;
  font-size: 17px;
  font-weight: 500;
}

.learn__content {
  padding: 50px 0;
  /*  @media (max-width:$md3+px){
            max-width: 650px;
        } */
}

.learn__title {
  margin-bottom: 20px;
}

.learn__slider {
  padding: 15px;
  margin-bottom: 25px;
}

.learn__slider-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.learn__slider-pagination .swiper-pagination-bullet {
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #e4e4e4;
  border: 2px solid transparent;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

.learn__slider-pagination .swiper-pagination-bullet-active {
  background-color: transparent;
  border: 1px solid #84aaed;
  -webkit-transform: scale(1.35);
      -ms-transform: scale(1.35);
          transform: scale(1.35);
}

.learn__item-box {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  min-height: 356px;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  -webkit-transition: -webkit-box-shadow .15s ease, -webkit-transform .15s ease;
  transition: -webkit-box-shadow .15s ease, -webkit-transform .15s ease;
  -o-transition: box-shadow .15s ease, transform .15s ease;
  transition: box-shadow .15s ease, transform .15s ease;
  transition: box-shadow .15s ease, transform .15s ease, -webkit-box-shadow .15s ease, -webkit-transform .15s ease;
}

.learn__item-box:hover {
  -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
}

.learn__img-mask {
  margin-bottom: 20px;
  position: relative;
}

.learn__img-mask:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.23);
  margin-bottom: 20px;
}

.learn__item-img {
  display: block;
  width: 215px;
  height: 149px;
}

.learn__item-title {
  color: #333333;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 20px;
}

.learn__item-status {
  color: #53b43b;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  position: relative;
  padding-left: 18px;
}

.learn__item-status:before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url(../img/svg/checked.svg);
}

.learn__item-price {
  color: #333333;
  font-size: 22px;
  font-weight: 600;
}

.portfolio {
  background-color: #f6f6f6;
}

.portfolio__title {
  margin-bottom: 35px;
}

.portfolio__content {
  padding: 50px 0 60px;
}

.portfolio__slider-box {
  position: relative;
  padding: 0 86px;
}

.portfolio__item-next,
.portfolio__item-prev {
  position: absolute;
  display: block;
  width: 30px;
  height: 40px;
  top: 50%;
  cursor: pointer;
}

.portfolio__item-next svg,
.portfolio__item-prev svg {
  width: 100%;
  height: 100%;
  fill: #acacac;
}

.portfolio__item-next {
  right: -10px;
  -webkit-transform: translateY(-50%) scale(-1, -1);
      -ms-transform: translateY(-50%) scale(-1, -1);
          transform: translateY(-50%) scale(-1, -1);
}

.portfolio__item-prev {
  left: -10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.portfolio__slider {
  max-width: 1008px;
  margin: 0 auto;
}

.portfolio__img {
  display: block;
  margin: 0 auto;
  width: 223px;
  height: 306px;
}

.news__content {
  padding: 50px 0;
}

.news__items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 44px;
}

.news__item-box {
  width: 100%;
  min-height: 348px;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.07);
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  -o-transition: box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
}

.news__item-box:hover {
  -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
}

.news__big-item-box {
  max-width: 555px;
  background-color: #fafafb;
  overflow: hidden;
  padding: 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.news__big-item-box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: url("../img/svg/1141.svg") top 0 right 0 no-repeat;
  background-size: 250px 100%;
}

.news__small-item-box {
  max-width: 262px;
  margin-left: 10px;
  padding: 23px;
  background-color: #ffffff;
}

.news__big-item-box-left {
  width: 100%;
  max-width: 300px;
}

.news__big-item-box-img {
  margin-top: 27px;
  width: 228px;
  height: 166px;
}

.news__small-item-box-img {
  display: block;
  margin: 0 auto;
}

.news__big-item-box-title,
.news__big-item-box-text,
.news__big-item-box-img {
  position: relative;
  z-index: 2;
}

.news__big-item-box-title {
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 26px;
  line-height: 27px;
}

.news__big-item-box-title span {
  color: #86adef;
}

.news__big-item-box-text {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.news__small-item-box-date {
  color: #ababab;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0 10px;
  display: block;
}

.news__small-item-box-title {
  color: #333333;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 13px;
}

.news__small-item-box-text {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  height: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.news__btn {
  width: 100%;
  max-width: 220px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  border: 2px solid #6d81cc;
  padding: 17px 25px 13px;
  /* Style for "ВСЕ НОВОСТ" */
  color: #6d81cc;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color .3s ease, background-color .3s ease;
  -o-transition: color .3s ease, background-color .3s ease;
  transition: color .3s ease, background-color .3s ease;
}

.news__btn:hover,
.news__btn:active {
  background-color: #6d81cc;
  color: #fff;
}
.contacts__form-box {
  width: 100%;
  max-width: 458px;
  padding: 30px 20px;
  -webkit-box-shadow: 0 2px 6px rgba(38, 54, 77, 0.28);
          box-shadow: 0 2px 6px rgba(38, 54, 77, 0.28);
  background-color: #87b0ee;
}

.contacts__form-title {
  max-width: 330px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 22px;
}

.contacts__form-line {
  max-width: 322px;
  margin: 0 auto 15px;
}

.contacts__form-line:last-of-type input {
  margin-bottom: 30px;
}

.contacts__form-line input {
  height: 46px;
  border-radius: 2px !important;
  font-size: 14px;
  font-weight: 400;
  color: #7b7b7b;
}

.contacts__form-line input._error {
  -webkit-box-shadow: 0 0 3px 1px red;
          box-shadow: 0 0 3px 1px red;
}

.contacts__form-line input._focus {
  color: #000;
}

.contacts__form-line textarea {
  width: 100%;
  height: 120px;
  padding: 17px 20px;
  display: block;
  resize: none;
  border-radius: 2px;
  font-size: 14px;
  color: #7b7b7b;
}

.contacts__form-line textarea._error {
  -webkit-box-shadow: 0 0 3px 1px red;
          box-shadow: 0 0 3px 1px red;
}

.contacts__form-line textarea._focus {
  font-size: 14px;
  color: #000;
}
.footer {
  background-color: #333333;
  position: relative;
}

.footer:before {
  content: 'Copyright 2019. Все права защищены';
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #4e4e4e;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #565656;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.footer__content {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column {
  width: 33.3333%;
  padding-bottom: 50px;
}

.footer__column:nth-child(2) {
  margin: 0 30px;
}

.footer__column-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
}

.footer__item {
  padding: 10px 0;
}

.footer__item-link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
}

.footer__social {
  padding-top: 5px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__social a {
  display: block;
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  padding: 5px 10px 5px 34px;
  margin-bottom: 10px;
}

.footer__teleg {
  background: url("../img/svg/fteleg.svg") left 0 center no-repeat;
}

.footer__viber {
  background: url("../img/svg/fviber.svg") left 0 center no-repeat;
}

.footer__wapp {
  background: url("../img/svg/fwapp.svg") left 0 center no-repeat;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__contacts a {
  display: block;
  color: #ffffff;
  font-weight: 600;
  padding: 5px 10px 5px 34px;
}

.footer__phone {
  font-size: 19px;
  margin-bottom: 10px;
  background: url("../img/svg/ftel.svg") left 0 center no-repeat;
  white-space: nowrap;
}

.footer__email {
  font-size: 17px;
  background: url("../img/svg/fmail.svg") left 0 center no-repeat;
  margin-bottom: 40px;
}

.footer__callback {
  display: block;
  max-width: 265px;
  padding: 17px 10px;
  margin-bottom: 50px;
}

.footer__logo {
  border: 1px dashed #ffffffa1;
  max-width: 200px;
  height: 70px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._row {
  width: 100%;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header-menu__nav-link:hover {
    color: #777;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1180px) {
  ._container {
    max-width: 970px;
  }

  .header__column {
    width: 100%;
  }

  .header__social-box {
    max-width: 210px;
  }

  .portfolio__content {
    max-width: 923px;
  }

  .news__items-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .news__big-item-box {
    margin-bottom: 20px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header__content {
    height: 92px;
  }

  .header__top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 20px 0;
    z-index: 5;
    position: relative;
  }

  .header__column {
    width: auto;
  }

  .header__logo-box {
    margin: 0px auto 0px 15px;
  }

  .header__logo {
    width: 135px;
  }

  .header__logo-info {
    margin: 0px 0px 0px 20px;
  }

  .header__logo-info:before {
    left: -10px;
  }

  .header__social-box {
    display: none;
  }

  .header__callback {
    display: none;
  }

  .header-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .header-menu:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 92px;
    background-color: transparent;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
    z-index: 20;
    -webkit-transition: background-color .1s ease .5s, -webkit-box-shadow .1s ease .5s;
    transition: background-color .1s ease .5s, -webkit-box-shadow .1s ease .5s;
    -o-transition: box-shadow .1s ease .5s, background-color .1s ease .5s;
    transition: box-shadow .1s ease .5s, background-color .1s ease .5s;
    transition: box-shadow .1s ease .5s, background-color .1s ease .5s, -webkit-box-shadow .1s ease .5s;
  }

  .header-menu._active .header-menu__content {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    height: 100%;
  }

  .header-menu._active:before {
    -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    background-color: #f6f6f6;
    -webkit-transition: -webkit-box-shadow .5s ease;
    transition: -webkit-box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
    transition: box-shadow .5s ease, -webkit-box-shadow .5s ease;
  }

  .header-menu__content {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 92px 30px 30px 30px;
    background-color: #f6f6f6;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    overflow: auto;
  }

  .header-menu__nav {
    margin-bottom: auto;
  }

  .header-menu__nav-link {
    margin: 4px;
    text-align: center;
    border-radius: 19px;
    background: #f6f6f6;
    padding: 22px 5px;
    -webkit-transition: -webkit-box-shadow .2s ease;
    transition: -webkit-box-shadow .2s ease;
    -o-transition: box-shadow .2s ease;
    transition: box-shadow .2s ease;
    transition: box-shadow .2s ease, -webkit-box-shadow .2s ease;
    -webkit-box-shadow: 4px 4px 10px #ececec, -4px -4px 10px #ffffff;
            box-shadow: 4px 4px 10px #ececec, -4px -4px 10px #ffffff;
  }

  .header-menu__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 22px 0;
  }

  .header-menu__nav-list li {
    margin: 8px 0px;
    border-radius: 19px;
    -webkit-box-shadow: inset 0 0 0 #ececec, inset 0 0 0 #ffffff;
            box-shadow: inset 0 0 0 #ececec, inset 0 0 0 #ffffff;
    -webkit-transition: -webkit-box-shadow .2s;
    transition: -webkit-box-shadow .2s;
    -o-transition: box-shadow .2s;
    transition: box-shadow .2s;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
  }

  .header-menu__nav-list li:active {
    -webkit-box-shadow: inset 4px 4px 10px #ececec, inset -4px -4px 10px #ffffff;
            box-shadow: inset 4px 4px 10px #ececec, inset -4px -4px 10px #ffffff;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .first-block__content {
    padding-top: 220px;
    padding-bottom: 20px;
    min-height: 580px;
  }

  .first-block__bg-content {
    background-color: rgba(250, 250, 251, 0.6);
    border-radius: 5px;
    padding: 10px 5px;
  }

  .categories__content {
    max-width: 635px;
  }

  .categories__slider {
    margin: 0 auto 12px;
  }

  .pluses__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 40px 0 20px;
    max-width: 670px;
  }

  .pluses__item-box {
    width: 48%;
    max-width: 305px;
    margin-bottom: 30px;
  }

  .pluses__item-box:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .pluses__item-box:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 50px 10px;
  }

  .header__content {
    padding: 0 10px;
  }

  .header__logo-info {
    font-size: 12px;
    max-width: 150px;
  }

  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 105px;
    max-height: 34px;
    overflow: hidden;
  }

  .header__contacts-link span {
    display: none;
  }

  .header__contacts-link {
    width: 30px;
    height: 30px;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header__contacts-link:before {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
  }

  .header__tel {
    margin: 0;
  }

  .header__email:before {
    top: 0;
  }

  .first-block {
    text-align: center;
  }

  ._no-webp .first-block__content{
    background: url("../img/bg-man.png") bottom 0 center no-repeat; }

  .first-block__content {
    padding: 220px 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .first-block__bg-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .first-block__title {
    width: 100%;
    font-size: 27px;
    font-weight: 800;
    margin-bottom: 25px;
    line-height: 37px;
  }

  .first-block__offer {
    width: 100%;
    font-size: 24px;
    letter-spacing: .5px;
    margin-bottom: 27px;
  }

  .categories__slider > .swiper-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .categories__slider {
    max-width: 635px;
  }

  .categories__scrollbar {
    height: 30px;
  }

  .portfolio__slider-box {
    padding: 0 64px;
  }

  .news__items-container {
    margin-bottom: 20px;
  }

  .news__item-box {
    width: 100%;
    max-width: 430px;
    margin: 0 auto 20px;
  }

  .news__big-item-box:before {
    background: url("../img/svg/1141.svg") top 0 right -75px/250px 100% no-repeat;
  }

  .news__big-item-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__column:nth-child(2) {
    display: none;
  }

  .footer__column:first-child {
    width: 60%;
  }

  .footer__column:last-child {
    width: 40%;
    margin-left: 20px;
  }
}

@media (max-width: 620px) {
  .learn__content {
    max-width: 320px;
  }

  .portfolio__content {
    max-width: 460px;
  }

  .portfolio__slider-box {
    padding: 0 38px;
  }
}

@media (max-width: 530px) {
  .pluses__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .pluses__item-box {
    width: 100%;
    max-width: 320px;
  }
}

@media (max-width: 479.98px) {
  .header__logo-box {
    margin-left: 10px;
  }

  .header__logo-info {
    margin-left: 10px;
  }

  .header__logo-info:before {
    left: -5px;
    width: 1px;
  }

  .first-block__bg-content {
    padding: 10px 0;
  }

  .first-block__offer {
    font-size: 21px;
  }

  .first-block__callback {
    font-size: 15px;
  }

  .footer__column:first-child {
    display: none;
  }

  .footer__column:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 365px) {
  .header__logo-info {
    display: none;
  }
}

@media (max-width: 340px) {
  .first-block__title {
    font-size: 25px;
  }
}

@media (max-width: 479.98px) and (min-width: 365px) {
  .header__logo {
    width: 100px;
  }

  .header__email {
    display: none;
  }
}

@media (max-width: 1180px) and (min-width: 991.98px) {
  ._no-webp .first-block__content{
    background: url("../img/bg-man.png") bottom 0 right 0 no-repeat; }
}

@media (max-width: 991.98px) and (min-width: 620px) {
  .learn__content {
    max-width: 650px;
  }

  .portfolio__content {
    max-width: 646px;
  }
}

@media (max-width: 1180px) and (min-width: 479.98px) {
  .news__content {
    max-width: 555px;
  }
}

@media (max-width: 1180px) and (min-width: 767.98px) {
  .news__item-box:nth-child(2) {
    margin: 0;
  }

  .news__item-box:nth-child(3) {
    margin-left: auto;
  }
}

._webp .first-block__content{ background: url(../img/bg-man.webp) bottom 0 right 120px no-repeat; }

@media (max-width: 767.98px){

  ._webp .first-block__content{ background: url(../img/bg-man.webp) bottom 0 center no-repeat; }
}

@media (max-width: 1180px) and (min-width: 991.98px){

  ._webp .first-block__content{ background: url(../img/bg-man.webp) bottom 0 right 0 no-repeat; }
}