@charset "UTF-8";
footer {
  background-color: #88e7ff;
}
@font-face {
  font-family: gp;
  font-display: swap;
  src: url(../fonts/GothamPro-Bold.woff) format("woff"), url(../fonts/GothamPro-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: gp;
  font-display: swap;
  src: url(../fonts/GothamPro-Medium.woff) format("woff"), url(../fonts/GothamPro-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: gp;
  font-display: swap;
  src: url(../fonts/GothamPro.woff) format("woff"), url(../fonts/GothamPro.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
*,
::after,
::before {
  box-sizing: border-box;
}
blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
:active,
:focus {
  outline: 0;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a,
button {
  cursor: pointer;
  color: inherit;
  font-family: inherit;
}
button {
  display: block;
  outline: 0;
  border: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input,
select,
textarea {
  font: inherit;
}
input::-ms-clear {
  display: none;
}
input[type="email"],
input[type="tel"],
input[type="text"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
img,
picture {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  font: inherit;
}
html {
  font-size: 10px;
}
body {
  min-width: 320px;
  font-family: gp;
  color: #404356;
  font-size: 1.4rem;
  font-weight: 400;
}
body._lock {
  overflow: hidden;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  padding: 0 15px;
  max-width: 1170px;
  margin: 0 auto;
}
.row:after {
  display: block;
  content: "";
  clear: both;
}
.rub:after {
  content: " руб";
  font-size: 0.6em;
}
ol.counter {
  list-style-type: none;
  counter-reset: item;
}
ol.counter li {
  position: relative;
  padding: 0 0 0 45px;
}
ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}
.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.es {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.table {
  display: table;
  font-size: 0;
  width: 100%;
}
.trow {
  display: table-row;
}
.cell {
  display: table-cell;
}
.cell.full {
  width: 100%;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
.video embed,
.video iframe,
.video object,
.video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.videobg embed,
.videobg iframe,
.videobg object,
.videobg video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
.moretext {
  overflow: hidden;
}
.moretext__more {
  cursor: pointer;
}
.moretext__more span {
  font-style: normal;
}
.moretext__more span:first-child {
  display: block;
}
.moretext__more span:last-child {
  display: none;
}
.moretext__more.active span {
  font-style: normal;
}
.moretext__more.active span:first-child {
  display: none;
}
.moretext__more.active span:last-child {
  display: block;
}
#map {
  background: url(../img/icons/loading.gif) center/50px no-repeat;
}
._swiper {
  overflow: hidden;
}
._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}
._swiper.swiper-container-vertical .swiper-wrapper {
  flex-direction: column;
}
._swiper.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
}
.swiper-container-initialized .swiper-slide {
  flex-shrink: 0;
}
.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  transform: translate3d(0, 0, 0);
}
.swiper-button-lock {
  display: none !important;
}
.slick-slider {
  position: relative;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: flex;
}
.slick-slider .slick-slide {
  position: relative;
}
.tab__item {
  display: none;
}
.tab__item.active {
  display: block;
}
._tabs-block {
  display: none;
}
._tabs-block._active {
  display: block;
}
.mirror {
  transform: scale(-1, 1);
}
.nicescroll-rails {
  z-index: 1000 !important;
}
.gm-style-iw-t {
  opacity: 0;
}
.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}
.baloon button {
  display: none !important;
}
.baloon:after {
  display: none !important;
}
.baloon-style {
  display: none;
}
.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0 !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}
.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}
.baloon-content.gm-style-iw:after {
  display: none !important;
}
.baloon-close {
  top: 18px !important;
}
._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}
._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}
.bold {
  font-weight: 700;
}
.btn {
  display: block;
  min-width: 236px;
  text-align: center;
  padding: 1.0625em 1.4375em 1.1875em;
  border-radius: 5px;
  border: 2px solid #1b8ce3;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}
.btn--active {
  background-color: #1b8ce3;
  color: #fff;
}
.title {
  font-size: 4.4rem;
  line-height: 1.4;
  text-align: center;
}
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 35px 0;
  line-height: 1.3;
}
.breadcrumbs__item:not(:last-child) {
  padding-right: 23px;
  position: relative;
}
.breadcrumbs__item:not(:last-child):after {
  content: ">";
  position: absolute;
  right: 6px;
}
.breadcrumbs__link--active {
  pointer-events: none;
}
body:not(._touch) .btn:hover {
  background-color: #1b8ce3;
  color: #fff;
}
body:not(._touch) .btn--active:hover {
  background-color: transparent;
  color: #404356;
}
body:not(._touch) .hero__itemBox {
  transition: transform 0.3s ease;
}
body:not(._touch) .hero__itemBox:hover {
  transform: translateY(-5%);
}
body:not(._touch) .menu__link:hover {
  color: #1b8ce3;
}
body:not(._touch) .menu__item:hover > div {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
body:not(._touch) .menu__item > div {
  pointer-events: none;
}
body:not(._touch) .menu__item a:hover,
body:not(._touch) .menu__item:hover > a {
  color: #1b8ce3;
  border-color: #1b8ce3;
}
body:not(._touch) .menu__item:hover > a:before {
  opacity: 1;
}
body:not(._touch) .footer__menuLink:hover {
  color: #1b8ce3;
}
.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 200;
  padding: 30px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}
.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.64);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
}
.popup.show {
  visibility: visible;
  overflow: auto;
}
.popup.show::before {
  opacity: 1;
}
.popup.show .popup__body {
  transform: scale(1);
}
.popup._active {
  overflow: auto;
  visibility: visible;
}
.popup._active::before {
  opacity: 1;
}
.popup._active .popup__body {
  transition: all 0.3s ease 0.2s;
  transform: scale(1);
}
.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__body {
  transform: scale(0);
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  background-color: #fff;
  padding: 53px;
  width: 100%;
  max-width: 784px;
  min-height: 589px;
  overflow: hidden;
}
.popup__close {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 30;
  background: url(../img/icons/close.svg) center/contain no-repeat;
  opacity: 0.3;
  transition: opacity 0.2s;
}
.popup__close:hover {
  opacity: 1;
}
.popup__close:active {
  opacity: 1;
}
.formBox {
  text-align: center;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}
.formBox__title {
  font-size: 4.1rem;
}
.formBox__subTitle {
  font-size: 1.6rem;
  margin-bottom: 24px;
}
.formBox__form {
  display: block;
  width: 100%;
  padding: 0 14px;
  position: relative;
}
.formBox__inpRow:not(:last-child) {
  margin-bottom: 12px;
}
.formBox__inp {
  font-size: 1.8rem;
  display: block;
  width: 100%;
  padding: 18px 28px 16px;
  border-radius: 5px;
  border: 2px solid #e5efff;
  background-color: #e5efff;
}
.formBox__inpRow--area {
  width: 100%;
  height: 111px;
  padding: 18px 0 16px 0;
  border-radius: 5px;
  border: 2px solid #e5efff;
  background-color: #e5efff;
}
.formBox__tarea {
  font-size: 1.8rem;
  display: block;
  padding: 0 28px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #e5efff;
  background-color: #e5efff;
  resize: none;
  height: 100%;
  overflow: auto;
}
.formBox__btn {
  font-size: 2.4rem;
  display: block;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 13px;
  margin-bottom: 30px;
}
.formBox__policy {
  font-size: 1.4rem;
  max-width: 400px;
  margin: 0 auto;
}
.header {
  background-color: #fff;
}
.header__row--top {
  padding: 17px 0 15px;
  background-color: #e5efff;
}
.header__row--center {
  padding: 30px 0 25px;
  display: flex;
  align-items: center;
}
.header__row--bottom {
  border-top: 1px solid #f2f2f2;
  padding: 26px 0 24px;
  position: relative;
}
.header__contacts {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}
.header__contactsItem {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}
.header__contactsItem a {
  position: relative;
  display: inline;
  padding-left: 22px;
}
.header__contactsItem:not(:first-child) {
  margin-left: 2rem;
}
.header__contactsItem svg {
  position: absolute;
  left: 0;
  top: -2px;
}
.header__contactsItem--adres svg {
  width: 1.4rem;
  height: 1.5rem;
}
.header__contactsItem--time {
  pointer-events: none;
  flex: 0 0 auto;
}
.header__contactsItem--time svg {
  width: 1.4rem;
  height: 1.4rem;
}
.header__contactsItem--tel {
  white-space: nowrap;
  font-size: 1.8rem;
}
.header__contactsItem--tel svg {
  top: 2px;
}
.header__contactsItem--tel a {
  margin-left: auto;
}
.header__contactsItem--tel svg {
  width: 1.3rem;
  height: 1.2rem;
  bottom: 0;
}
.header__contactsLink {
  position: relative;
}
.header__btnBox {
  display: none;
}
.header__summon {
  margin-left: 10px;
}
.logoBox {
  display: flex;
  align-items: center;
}
.logoBox__img {
  width: 100%;
  height: 100%;
  max-height: 70px;
  max-width: 70px;
}
.logoBox__txtBox {
  padding: 5px 0 0 20px;
}
.logoBox__title {
  font-size: 2.3rem;
  line-height: 1.2;
}
.logoBox__subTitle {
  font-size: 1.3rem;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.menu__item._active > div {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.menu__item._active > a:before {
  opacity: 1;
}
.menu__item div a:active {
  color: #1b8ce3;
  border-color: #1b8ce3;
}
.menu__item:not(:first-child) {
  margin-left: 20px;
}
.menu__link {
  transition: color 0.1s;
}
.menu__link--drop {
  position: relative;
}
.menu__link--drop:before {
  content: "";
  border: 4px solid transparent;
  border-top: 5px solid #1b8ce3;
  position: absolute;
  right: -13px;
  top: 50%;
}
.menu__link:active {
  color: #1b8ce3;
}
.iconMenu {
  display: none;
}
.menu__dropBox {
  transition: 0.2s ease;
  padding-top: 24px;
  position: absolute;
  left: 0;
  bottom: 24px;
  transform: translateY(100%);
  width: 100%;
  z-index: 10;
}
.menu__dropBody {
  padding: 30px 50px 40px;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
}
.menu__dropCol {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__dropCol:nth-child(2) {
  padding: 0 20px;
}
.menu__dropItem:not(:last-of-type) {
  margin-bottom: 20px;
}
.menu__dropItem > a {
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 1px dashed #404356;
}
.menu__dropSubList {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: none;
}
.menu__dropSubItem {
  line-height: 18px;
}
.menu__dropSubItem:first-child {
  margin-top: 7px;
}
.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__content {
  padding-top: 365px;
  display: flex;
  margin: 0 -8px;
}
.hero__itemWrp {
  transform: translateY(45%);
  flex: 0 1 33.333%;
  padding: 0 8px;
}
._no-webp .hero__itemWrp:nth-child(1) a {
  background: url(../img/hero/h1.png) top 40px left 55%/96px 96px no-repeat, linear-gradient(#fefde1, #fefde1);
}
._no-webp .hero__itemWrp:nth-child(2) a {
  background: url(../img/hero/h2.png) top 40px center/94px 94px no-repeat, linear-gradient(#e2f6da, #e2f6da);
}
._no-webp .hero__itemWrp:nth-child(3) a {
  background: url(../img/hero/h3.png) top 42px left 54%/103px 89px no-repeat, linear-gradient(#e5efff, #e5efff);
}
.hero__itemBox {
  display: block;
  width: 100%;
  padding: 162px 20px 50px;
  text-align: center;
  border-radius: 13px;
  font-size: 2.3rem;
  font-weight: 500;
  text-transform: uppercase;
}
.benefits__content {
  padding: 180px 0 117px;
}
.benefits__body {
  padding-top: 75px;
  display: flex;
  margin: 0 -10px;
  counter-reset: elem;
}
.benefits__itemWrp {
  flex: 0 1 25%;
  padding: 0 10px;
}
.benefits__itemWrp:nth-child(2) {
  padding-left: 40px;
}
.benefits__itemWrp:nth-child(3) {
  padding-left: 30px;
}
.benefits__itemWrp:nth-child(4) {
  padding-left: 30px;
}
.benefits__itemBox {
  text-align: center;
  padding: 0 0;
  min-width: 205px;
}
.benefits__imgBox {
  margin: 0 auto 43px;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  background-color: #e5efff;
  position: relative;
}
.benefits__imgBox:before {
  content: "";
  width: 89px;
  height: 89px;
  position: absolute;
}
.benefits__imgBox:after {
  counter-increment: elem;
  content: "0" counter(elem);
  font-size: 5.9rem;
  font-weight: 700;
  position: absolute;
  left: 70%;
  top: 20px;
}
.benefits__imgBox--0 {
  transform: translateX(8%);
}
._no-webp .benefits__imgBox--0:before {
  background: url(../img/benefits/1b.png) center/85px 85px no-repeat;
}
.benefits__imgBox--0:before {
  left: -20px;
  bottom: 12px;
}
._no-webp .benefits__imgBox--1:before {
  background: url(../img/benefits/2b.png) center/87px 83px no-repeat;
}
.benefits__imgBox--1:before {
  left: -20px;
  bottom: 8px;
}
.benefits__imgBox--2 {
  transform: translateX(-5%);
}
._no-webp .benefits__imgBox--2:before {
  background: url(../img/benefits/3b.png) center/63px 84px no-repeat;
}
.benefits__imgBox--2:before {
  left: -12px;
  bottom: 13px;
}
._no-webp .benefits__imgBox--3:before {
  background: url(../img/benefits/4b.png) center/78px 89px no-repeat;
}
.benefits__imgBox--3:before {
  left: -15px;
  bottom: 15px;
}
.benefits__txt {
  font-size: 2.4rem;
  line-height: 1;
}
.promotions {
  background-color: #f6f6f6;
}
.promotions__container {
  padding: 0;
}
.wrp-promoSlider {
  position: relative;
}
.promoSlider__itemBox {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}
.promoSlider__imgBox {
  flex: 0 0 43.5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promoSlider__img {
  max-width: 100%;
  max-height: 100%;
}
.promoSlider__body {
  flex: 0 0 54.5%;
  margin-left: 20px;
  padding: 0 10px 100px 0;
}
.promoSlider__offerPreview {
  font-size: 3.9rem;
  color: #f00849;
  text-align: end;
  padding-top: 40px;
}
.promoSlider__title {
  font-size: 4.8rem;
  font-weight: 700;
  padding-top: 65px;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  margin-bottom: 24px;
}
.promoSlider__txt {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 70px;
}
.promoSlider__list {
  font-size: 2rem;
  font-weight: 400;
  padding-left: 62px;
}
.promoSlider__item {
  padding-left: 45px;
  position: relative;
}
.promoSlider__item:not(:last-child) {
  margin-bottom: 18px;
}
.promoSlider__item svg {
  position: absolute;
  left: 0;
  top: 0.1em;
  width: 27px;
  height: 27px;
  transform: rotate(10deg);
  fill: #404356;
}
.promoSlider__pagination {
  position: absolute;
  left: 46.3%;
  bottom: 45px;
  display: flex;
}
.promoSlider__pagination span {
  display: block;
  width: 17px;
  height: 17px;
  border: 1px solid #0c0c0c;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}
.promoSlider__pagination span:not(:first-child) {
  margin-left: 12px;
}
.promoSlider__pagination span.swiper-pagination-bullet-active {
  background-color: #0c0c0c;
}
.services__content {
  padding: 65px 0 53px;
  position: relative;
}
.services__title {
  margin-bottom: 5px;
}
.services__subtitle {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 30px;
}
.services__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}
.services__itemWrp {
  flex: 0 1 50%;
  padding: 0 15px;
  margin-bottom: 15px;
}
.services__itemWrp:nth-child(3n) div,
.services__itemWrp:nth-child(4n-2) div {
  background-color: #f6f6f6;
}
.services__itemBox {
  height: 100%;
  text-align: center;
  padding: 55px 40px 40px;
  border-radius: 13px;
  background-color: #e5efff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__itemTitle {
  font-size: 3rem;
  margin-bottom: 45px;
}
.services__itemTxt {
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 1.2;
  padding-bottom: 36px;
}
.services__itemTxt > p:not(:first-of-type) {
  margin-top: 20px;
}
.services__itemBtn {
  margin-top: auto;
  display: block;
  font-weight: 700;
}
.reviews {
  background-color: #e5efff;
}
.reviews__content {
  padding: 55px 0 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__title {
  margin-bottom: 66px;
}
.reviews__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px 57px;
}
.reviews__itemWrp {
  padding: 0 10px 20px;
  flex: 0 1 33.333%;
}
.reviews__btn {
  font-size: 1.9rem;
  color: #1b8ce3;
  min-width: 265px;
}
.review {
  height: 100%;
  padding: 32px 30px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
}
.review__head {
  flex: 0 1 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.review__headName {
  font-size: 1.6rem;
  color: #1b8ce3;
}
.review__rating {
  display: flex;
  margin-left: 10px;
}
.review__ratingStar {
  display: block;
  width: 15px;
  height: 15px;
}
.review__ratingStar:not(:first-child) {
  margin-left: 5px;
}
.review__ratingStar svg {
  width: 100%;
  height: 100%;
  max-width: 15px;
  max-height: 15px;
  fill: #1b8ce3;
}
.review__body {
  flex: 0 1 100%;
}
.review__bodyTxt {
  line-height: 1.2;
  margin-bottom: 26px;
}
.review__link {
  display: block;
  padding-right: 15px;
  color: #1b8ce3;
  position: relative;
}
.review__link svg {
  width: 9px;
  height: 9px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-40%) rotate(-90deg);
  fill: #1b8ce3;
}
.about {
  overflow: hidden;
}
.about__content {
  padding: 50px 0 115px;
}
.about__title {
  margin-bottom: 50px;
}
.about__body {
  display: flex;
  justify-content: flex-end;
}
.about__txtBox {
  flex: 0 1 50%;
  padding: 0 15px 0 10px;
  line-height: 1.2;
  position: relative;
  background-color: #fff;
}
._no-webp .about__txtBox:before {
  background: url(../img/about/dog.png) center/contain no-repeat;
}
.about__txtBox:before {
  content: "";
  position: absolute;
  left: -50px;
  bottom: -115px;
  width: 499px;
  height: 621px;
  transform: translateX(-100%);
}
.about__txtBox > p:not(:first-child) {
  margin-top: 20px;
}
.contacts {
  min-height: 675px;
  position: relative;
}
.contacts__map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.contacts__itemBox {
  padding: 40px 47px 29px;
  width: 100%;
  max-width: 421px;
  background-color: #1b8ce3;
  color: #fff;
  position: relative;
  top: -17px;
}
.contacts__itemBox:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%);
  border-top: 9px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 9px solid #046ab8;
  border-left: 11px solid #046ab8;
}
.contacts__itemTitle {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.23;
  max-width: 205px;
  margin-bottom: 25px;
  padding-left: 3px;
}
.contacts__contactsItem {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.contacts__contactsItem span {
  display: block;
}
.contacts__contactsItem--email span {
  display: inline;
  text-transform: none;
}
.contacts__contactsItemTitle {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.4;
}
.serviceHero {
  color: #fff;
  overflow: hidden;
  position: relative;
}
.serviceHero__bg {
  display: none;
}
.serviceHero__content {
  min-height: 600px;
  padding: 180px 0 120px;
  max-width: 405px;
  background-color: #1b8ce3;
  position: relative;
}
.serviceHero__content:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background-color: #1b8ce3;
}
.serviceHero__content:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-4deg);
  right: -97px;
  width: 290px;
  height: 127%;
  -webkit-clip-path: ellipse(50% 47% at 50% 50%);
  clip-path: ellipse(50% 47% at 50% 50%);
  background-color: #1b8ce3;
}
.serviceHero__title {
  font-size: 7.7rem;
  font-weight: 700;
  margin-bottom: 45px;
  position: relative;
  z-index: 1;
}
.serviceHero__txt {
  position: relative;
  z-index: 1;
  font-size: 2.3rem;
  line-height: 1.3;
  font-weight: 500;
}
.serviceAbout__content {
  padding: 30px 0 47px;
}
.serviceAbout__title {
  font-size: 3rem;
  margin-bottom: 33px;
  line-height: 1.2;
}
.serviceAbout__txtBox {
  font-size: 1.8rem;
  font-weight: 400;
}
.serviceAbout__txt,
.serviceAbout__txtBox p {
  line-height: 1.25;
}
.serviceAbout__txt:not(:last-child),
.serviceAbout__txtBox h1,
.serviceAbout__txtBox h2,
.serviceAbout__txtBox h3,
.serviceAbout__txtBox h4,
.serviceAbout__txtBox p:not(:last-child) {
  margin-bottom: 20px;
}
.servicePrice {
  background-color: #f6f6f6;
}
.servicePrice__content {
  padding: 34px 0 43px;
}
.servicePrice__title {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 39px;
}
.servicePrice__listInfo {
  font-size: 1.8rem;
  font-weight: 400;
}
.servicePrice__itemInfo {
  padding-left: 48px;
  position: relative;
  margin-bottom: 23px;
  line-height: 1.2;
}
.servicePrice__itemInfo svg {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 2px;
  top: 1px;
  transform: rotate(45deg);
}
.servicePrice__body {
  margin-bottom: 64px;
}
.servicePrice__spollerBox {
  box-shadow: 0 0 10px -1px rgba(5, 0, 1, 0.09);
  border-radius: 5px;
  background-color: #fff;
}
.servicePrice__spollerBox:not(:last-child) {
  margin-bottom: 14px;
}
.servicePrice__spollerTitle {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 25px 36px 20px;
  cursor: pointer;
}
.servicePrice__spollerContent {
  display: none;
  padding: 0 45px 40px;
  flex-wrap: wrap;
}
.servicePrice__itemWrp {
  flex: 0 1 auto;
  padding-left: 135px;
  padding-bottom: 30px;
}
.servicePrice__itemWrp:nth-child(2n-1) {
  margin-right: 77px;
}
.servicePrice__itemBox {
  font-size: 1.8rem;
}
.servicePrice__itemTitle {
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 10px;
  margin-bottom: 18px;
}
.servicePrice__listItem {
  position: relative;
  padding: 7px 0 9px;
  margin-bottom: 10px;
}
.servicePrice__count {
  font-weight: 700;
  position: absolute;
  left: -20px;
  top: 0;
  transform: translateX(-100%);
  display: block;
  background-color: #e5efff;
  color: #1b8ce3;
  padding: 8px 12px 7px;
  border-radius: 25px;
  text-align: center;
  min-width: 113px;
}
.serviceCta {
  background: linear-gradient(0deg, #e5efff, #fff 50%);
}
.serviceCta__content {
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}
.serviceCta .formBox__form:after {
  display: none;
}
.serviceCta .formBox__form:before {
  display: none;
}
.footer--all .footer__row--top ._container {
  padding: 70px 15px 77px;
}
.footer__row--top {
  background-color: #fff;
}
.footer__row--top ._container {
  padding: 35px 15px 77px;
  display: flex;
}
.footer__row--center {
  background-color: #e5efff;
}
.footer__row--center ._container {
  padding: 25px 15px 35px;
  display: flex;
}
.footer__row--bottom {
  background-color: #fff;
  color: #868793;
}
.footer__row--bottom ._container {
  padding: 17px 15px 32px;
  display: flex;
  justify-content: space-between;
}
.footer__logoBox {
  padding-top: 5px;
  font-weight: 700;
  flex: 0 0 auto;
}
.footer__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-transform: uppercase;
  max-width: 542px;
  margin-left: 70px;
}
.footer__menuItem {
  flex: 0 1 33%;
  padding: 0 15px;
}
.footer__menuLink {
  transition: color 0.1s;
}
.footer__menuLink:active {
  color: #1b8ce3;
}
.footer__col--first {
  flex: 0 1 506px;
  margin-right: auto;
}
.footer__col--center {
  padding: 5px 0 0;
  white-space: nowrap;
}
.footer__col--last {
  padding: 5px 0 0 53px;
}
.footer__searchForm {
  display: block;
  width: 100%;
  background-color: #f5f8fd;
  position: relative;
}
.footer__searchInput {
  display: block;
  width: 100%;
  height: 50px;
  padding: 17px 67px 17px 17px;
  border: none;
  outline: 0;
  background-color: transparent;
  color: #9ca1a8;
}
.footer__searchInput._focus {
  color: #404356;
}
.footer__searchInputBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  background-color: #f5f8fd;
  padding: 0;
}
.footer__searchInputBtn svg {
  display: block !important;
  width: 14px;
  height: 14px;
  fill: #404356;
  stroke: #404356;
}
.footer__social {
  display: flex;
  align-items: center;
  margin-top: 37px;
  font-weight: 500;
}
.footer__social > span {
  margin-right: 13px;
}
.footer__socialList {
  display: flex;
  margin-left: 27px;
}
.footer__socialItem:not(:first-child) {
  margin-left: 9px;
}
.footer__socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  transform: translateY(0);
  transition: transform 0.2s;
}
.footer__socialLink svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}
.footer__socialLink--vko {
  background-color: #2787f5;
}
.footer__socialLink--vko svg {
  position: relative;
  left: -1px;
  top: 1px;
}
.footer__socialLink--instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
.footer__socialLink--instagram svg {
  position: relative;
  left: -1px;
  top: 0;
}
.footer__socialLink--telegram {
  background-color: #27a5e5;
}
.footer__socialLink--telegram svg {
  position: relative;
  left: -2px;
  top: 1px;
}
.footer__socialLink--whatsapp {
  background-color: #24d366;
}
.footer__socialLink--facebook {
  background-color: #1877f2;
}
.footer__socialLink--facebook svg {
  position: relative;
  left: -1px;
  top: 1px;
}
.footer__phoneList {
  font-size: 2.6rem;
  font-weight: 700;
  position: relative;
  padding-left: 20px;
}
.footer__phoneList svg {
  display: block !important;
  fill: #404356;
  width: 14px;
  height: 13px;
  position: absolute;
  top: 0.3em;
  left: 0;
}
.footer__btnBox {
  font-weight: 700;
}
.footer__summon {
  margin-bottom: 20px;
}
.footer__policy {
  text-decoration: underline;
  display: inline-block;
}
.footer__copy {
  margin-left: 20px;
}
.page {
  flex: 1 1 auto;
}
._webp .hero__itemWrp:nth-child(1) a {
  background: url(../img/hero/h1.webp) top 40px left 55%/96px 96px no-repeat, linear-gradient(#fefde1, #fefde1);
}
._webp .hero__itemWrp:nth-child(2) a {
  background: url(../img/hero/h2.webp) top 40px center/94px 94px no-repeat, linear-gradient(#e2f6da, #e2f6da);
}
._webp .hero__itemWrp:nth-child(3) a {
  background: url(../img/hero/h3.webp) top 42px left 54%/103px 89px no-repeat, linear-gradient(#e5efff, #e5efff);
}
._webp .benefits__imgBox--0:before {
  background: url(../img/benefits/1b.webp) center/85px 85px no-repeat;
}
._webp .benefits__imgBox--1:before {
  background: url(../img/benefits/2b.webp) center/87px 83px no-repeat;
}
._webp .benefits__imgBox--2:before {
  background: url(../img/benefits/3b.webp) center/63px 84px no-repeat;
}
._webp .benefits__imgBox--3:before {
  background: url(../img/benefits/4b.webp) center/78px 89px no-repeat;
}
._webp .about__txtBox:before {
  background: url(../img/about/dog.webp) center/contain no-repeat;
}
@media (min-width: 767.98px) {
  ._no-webp .formBox__form:before {
    background: url(../img/popup/cat.png) center/contain no-repeat;
  }
  .formBox__form:before {
    content: "";
    position: absolute;
    left: -157px;
    top: -125px;
    width: 240px;
    height: 560px;
  }
  ._no-webp .formBox__form:after {
    background: url(../img/popup/dog.png) center/contain no-repeat;
  }
  .formBox__form:after {
    content: "";
    position: absolute;
    width: 223px;
    height: 256px;
    right: -153px;
    bottom: -113px;
  }
  .header__btnBox {
    display: flex;
    padding-top: 10px;
    margin-left: auto;
  }
  .menu__item._active > a {
    color: #1b8ce3;
    border-color: #1b8ce3;
  }
  .menu__item._active > div a:active {
    color: #1b8ce3;
    border-color: #1b8ce3;
  }
  .menu__link--drop:before {
    opacity: 0;
    transition: opacity 0.2s;
  }
  .menu__dropBox {
    visibility: hidden;
    opacity: 0;
  }
  ._no-webp .services__content:before {
    background: url(../img/services/cat.jpg) center/contain no-repeat;
  }
  .services__content:before {
    content: "";
    width: 1500px;
    height: 1000px;
    position: absolute;
    right: -795px;
    top: -25px;
    z-index: -1;
  }
  .serviceHero__bg {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 87vw;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  ._webp .formBox__form:before {
    background: url(../img/popup/cat.webp) center/contain no-repeat;
  }
  ._webp .formBox__form:after {
    background: url(../img/popup/dog.webp) center/contain no-repeat;
  }
  ._webp .services__content:before {
    background: url(../img/services/cat.webp) center/contain no-repeat;
  }
}
@media (min-width: 991.98px) {
  .serviceCta .formBox {
    margin: 0 0 0 auto;
  }
  ._no-webp .serviceCta .formBox__form:before {
    background: url(../img/services_page/callback/dog.png) center/contain no-repeat;
  }
  .serviceCta .formBox__form:before {
    content: "";
    display: block !important;
    width: 502px;
    height: 442px;
    left: -628px;
    bottom: -60px;
    top: unset;
    right: unset;
  }
  .footer__socialLink:hover {
    transform: translateY(-5%);
  }
  .footer__policy:hover {
    text-decoration: none;
  }
  ._webp .serviceCta .formBox__form:before {
    background: url(../img/services_page/callback/dog.webp) center/contain no-repeat;
  }
}
@media (max-width: 1170px) {
  ._container {
    max-width: 970px;
  }
  .logoBox__title {
    font-size: 2rem;
  }
  .logoBox__subTitle {
    font-size: 1.2rem;
  }
  .menu__dropBody {
    padding: 30px 30px 40px;
  }
  .benefits__body {
    flex-wrap: wrap;
  }
  .benefits__itemWrp {
    flex: 0 1 50%;
    margin: 80px 0;
    padding: 0 30px !important;
  }
  .promoSlider__body {
    padding: 0 0 100px 0;
  }
  .promoSlider__offerPreview {
    font-size: 3.5rem;
    padding-top: 30px;
  }
  .promoSlider__title {
    padding-top: 40px;
    font-size: 3.8rem;
  }
  .promoSlider__txt {
    font-size: 1.7rem;
    margin-bottom: 40px;
    line-height: 1.2;
  }
  .promoSlider__list {
    font-size: 1.8rem;
    line-height: 1.2;
  }
  .promoSlider__pagination span {
    width: 15px;
    height: 15px;
  }
  .services__itemBox {
    padding: 40px 20px;
  }
  .services__itemTitle {
    margin-bottom: 25px;
  }
  .services__itemTxt {
    padding-bottom: 26px;
  }
  .reviews__itemWrp {
    flex: 0 1 50%;
  }
  .about__content {
    padding: 50px 0 85px;
  }
  .about__title {
    margin-bottom: 80px;
  }
  .about__txtBox {
    flex: 0 1 100%;
    padding: 10px 0;
    box-shadow: 0 0 50px -10px rgba(229, 239, 255, 0.5);
  }
  ._no-webp .about__txtBox:before {
    background: url(../img/about/dog.png) top/cover no-repeat;
  }
  .about__txtBox:before {
    width: 400px;
    height: 301px;
    z-index: -1;
    left: 0;
    transform: translateX(0);
    bottom: unset;
    top: -160px;
  }
  .serviceHero__title {
    font-size: 6.7rem;
  }
  .serviceHero__txt {
    font-size: 2.1rem;
  }
  .servicePrice__itemWrp {
    flex: 0 1 100%;
  }
  .servicePrice__itemWrp:nth-child(2n-1) {
    margin: 0;
  }
  .footer__row--top ._container {
    padding: 35px 15px 37px;
  }
  .footer__logoBox {
    padding-top: 0;
  }
  .footer__menuItem {
    flex: 0 1 50%;
    padding: 7px 15px;
  }
  .footer__col--first {
    flex: 0 0 auto;
  }
  .footer__col--center {
    padding: 5px 20px 0 20px;
    flex: 0 1 100%;
    display: flex;
    justify-content: flex-end;
  }
  .footer__phoneList {
    font-size: 2.2rem;
  }
  ._webp .about__txtBox:before {
    background: url(../img/about/dog.webp) top/cover no-repeat;
  }
}
@media (max-width: 1170px) and (max-width: 479.98px) {
  .benefits__itemWrp:not(:last-child) {
    margin: 0 0 80px;
  }
  .benefits__itemWrp:last-child {
    margin: 0;
  }
}
@media (max-width: 1170px) and (max-width: 1170px) {
  .footer__col--last {
    padding-left: 0;
  }
}
@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
  .btn {
    font-size: 1.4rem;
  }
  .title {
    font-size: 3.6rem;
  }
  .header__contactsItem--time {
    flex: 0 1 auto;
  }
  .logoBox {
    flex: 0 0 auto;
  }
  .logoBox__img {
    height: 60px;
    width: 60px;
  }
  .menu__list {
    font-size: 1.4rem;
  }
  .menu__item:not(:first-child) {
    margin-left: 13px;
  }
  .menu__link--drop:before {
    right: -9px;
    border: 3px solid transparent;
    border-top: 4px solid #1b8ce3;
  }
  .menu__dropBody {
    padding: 30px 20px 40px;
  }
  .hero__content {
    padding-top: 235px;
  }
  ._no-webp .hero__itemWrp:nth-child(1) a {
    background: url(../img/hero/h1.png) top 40px left 55%/76px 76px no-repeat, linear-gradient(#fefde1, #fefde1);
  }
  ._no-webp .hero__itemWrp:nth-child(2) a {
    background: url(../img/hero/h2.png) top 40px center/74px 74px no-repeat, linear-gradient(#e2f6da, #e2f6da);
  }
  ._no-webp .hero__itemWrp:nth-child(3) a {
    background: url(../img/hero/h3.png) top 42px left 54%/83px 72px no-repeat, linear-gradient(#e5efff, #e5efff);
  }
  .hero__itemBox {
    padding: 142px 20px 35px;
    font-size: 2rem;
  }
  .benefits__imgBox {
    width: 135px;
    height: 135px;
    margin: 0 auto 30px;
  }
  .benefits__imgBox:after {
    font-size: 5rem;
  }
  ._no-webp .benefits__imgBox--0:before {
    background: url(../img/benefits/1b.png) center/75px 75px no-repeat;
  }
  ._no-webp .benefits__imgBox--1:before {
    background: url(../img/benefits/2b.png) center/77px 73px no-repeat;
  }
  ._no-webp .benefits__imgBox--2:before {
    background: url(../img/benefits/3b.png) center/57px 77px no-repeat;
  }
  .benefits__imgBox--2:before {
    left: -22px;
  }
  ._no-webp .benefits__imgBox--3:before {
    background: url(../img/benefits/4b.png) center/68px 79px no-repeat;
  }
  .benefits__imgBox--3:before {
    left: -20px;
  }
  .benefits__txt {
    font-size: 2.1rem;
  }
  .promoSlider__imgBox {
    flex: 0 1 auto;
    display: none;
  }
  .promoSlider__body {
    flex: 0 1 100%;
    margin-left: 0;
    padding: 0 10px 100px;
  }
  .promoSlider__offerPreview {
    text-align: start;
    font-size: 3.2rem;
  }
  .promoSlider__title {
    font-size: 3.5rem;
    padding-top: 35px;
  }
  .promoSlider__list {
    padding-left: 42px;
  }
  .promoSlider__pagination {
    left: 50%;
    transform: translateX(-50%);
  }
  .services__subtitle {
    margin-bottom: 50px;
  }
  .services__itemWrp {
    flex: 0 1 100%;
    margin-bottom: 35px;
  }
  .services__itemTitle {
    font-size: 2.5rem;
  }
  .services__itemTxt {
    font-size: 1.7rem;
  }
  .reviews__content {
    padding: 90px 0 77px;
  }
  .reviews__itemWrp {
    flex: 0 1 100%;
  }
  .about__content {
    padding: 90px 0 85px;
  }
  .about__title {
    margin-bottom: 130px;
  }
  .about__txtBox:before {
    width: 320px;
    height: 280px;
    top: -130px;
    left: 50%;
    transform: translateX(-50%);
  }
  .serviceHero__content {
    min-height: 432px;
    padding: 130px 0 120px;
    max-width: 375px;
  }
  .serviceHero__content:after {
    right: -47px;
    height: 167%;
    width: 290px;
  }
  .serviceHero__title {
    font-size: 5rem;
    margin-bottom: 35px;
  }
  .serviceHero__txt {
    font-size: 1.9rem;
  }
  .serviceAbout__content {
    padding: 15px 0 47px;
  }
  .serviceAbout__title {
    font-size: 2.6rem;
  }
  .serviceAbout__txtBox {
    font-size: 1.6rem;
  }
  .servicePrice__content {
    padding: 70px 0 73px;
  }
  .servicePrice__title {
    font-size: 2.6rem;
  }
  .servicePrice__listInfo {
    font-size: 1.6rem;
  }
  .servicePrice__itemInfo {
    padding-left: 38px;
  }
  .serviceCta__content {
    justify-content: center;
  }
  .serviceCta .formBox__btn {
    font-size: 2rem;
  }
  .footer__row--center ._container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer__menuItem {
    flex: 0 1 100%;
    text-align: end;
    font-size: 1.3rem;
  }
  .footer__col--first {
    margin-right: unset;
    margin-top: 30px;
    width: 100%;
  }
  .footer__social {
    margin-top: 30px;
    justify-content: center;
  }
  .footer__socialList {
    margin-left: 0;
  }
  .footer__btnBox {
    display: none;
  }
  ._webp .hero__itemWrp:nth-child(1) a {
    background: url(../img/hero/h1.webp) top 40px left 55%/76px 76px no-repeat, linear-gradient(#fefde1, #fefde1);
  }
  ._webp .hero__itemWrp:nth-child(2) a {
    background: url(../img/hero/h2.webp) top 40px center/74px 74px no-repeat, linear-gradient(#e2f6da, #e2f6da);
  }
  ._webp .hero__itemWrp:nth-child(3) a {
    background: url(../img/hero/h3.webp) top 42px left 54%/83px 72px no-repeat, linear-gradient(#e5efff, #e5efff);
  }
  ._webp .benefits__imgBox--0:before {
    background: url(../img/benefits/1b.webp) center/75px 75px no-repeat;
  }
  ._webp .benefits__imgBox--1:before {
    background: url(../img/benefits/2b.webp) center/77px 73px no-repeat;
  }
  ._webp .benefits__imgBox--2:before {
    background: url(../img/benefits/3b.webp) center/57px 77px no-repeat;
  }
  ._webp .benefits__imgBox--3:before {
    background: url(../img/benefits/4b.webp) center/68px 79px no-repeat;
  }
}
@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
  .title {
    font-size: 3.2rem;
  }
  .popup__body {
    padding: 50px 10px 30px;
    min-height: unset;
  }
  .formBox__form {
    padding: 0;
  }
  .header__row--top {
    padding: 20px 0;
  }
  .header__row--center {
    justify-content: space-between;
    padding: 30px 0 28px;
  }
  .header__row--bottom {
    padding: 0;
    position: static;
  }
  .header__contacts {
    display: block;
    text-align: center;
  }
  .header__contactsItem {
    display: block;
  }
  .header__contactsItem a {
    text-align: center;
  }
  .header__contactsItem:not(:first-child) {
    margin: 1.8rem 0 0;
  }
  .header__contactsItem--tel {
    font-size: 1.6rem;
  }
  .header__contactsItem--tel a {
    margin: 0;
  }
  .logoBox__img {
    height: 55px;
    width: 55px;
  }
  .logoBox__txtBox {
    padding: 5px 0 0 10px;
  }
  .logoBox__title {
    font-size: 1.8rem;
  }
  .logoBox__subTitle {
    font-size: 1.1rem;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100vw;
    min-width: 320px;
    z-index: 50;
    overflow-y: scroll;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0s 0.4s;
  }
  .menu._active {
    transition: all 0s 0s;
    visibility: visible;
    opacity: 1;
  }
  .menu__wrapper {
    transform: translateX(100%);
    height: 100%;
  }
  .menu__body {
    position: relative;
    padding: 130px 15px 50px;
    width: 95%;
    min-height: 100%;
    max-width: 300px;
    background-color: #1b8ce3;
    transform: translate3d(0, 0, 0);
    transition: transform 0.4s;
  }
  .menu__body._active {
    transform: translate3d(-100%, 0, 0);
  }
  .menu__list {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
  }
  .menu__item {
    position: relative;
    width: 100%;
  }
  .menu__item._active > a:before {
    transform: scale(1, 1) translateY(-20%);
  }
  .menu__item:not(:first-child) {
    margin: 40px 0 0 0;
    flex: 0 1 100%;
  }
  .menu__link--drop:before {
    right: -13px;
    border: 4px solid transparent;
    border-top: 5px solid #fff;
    transform: scale(1, -1) translateY(50%);
    transition: transform 0.2s;
  }
  .menu__link {
    color: #fff;
  }
  .menu__link:active {
    color: rgba(255, 255, 255, 0.5);
  }
  .iconMenu {
    margin-left: 20px;
    flex: 0 0 auto;
    position: relative;
    z-index: 1;
    display: block;
    width: 35px;
    height: 26px;
  }
  .iconMenu--close {
    position: absolute;
    top: 25px;
    left: 25px;
    margin: 0;
  }
  .iconMenu--close span,
  .iconMenu--close:after,
  .iconMenu--close:before {
    background: url(../img/icons/burgerw.svg) center/cover no-repeat !important;
  }
  .iconMenu span {
    display: block;
    top: 50%;
    transform: translate3d(0, -50%, 0) scale(1);
  }
  .iconMenu span,
  .iconMenu:after,
  .iconMenu:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    transition: all 0.2s;
    height: 3px;
    border-radius: 25px;
    background: url(../img/icons/burger.svg) center/cover no-repeat;
  }
  .iconMenu:before {
    top: 0;
  }
  .iconMenu:after {
    bottom: 0;
  }
  .iconMenu:after,
  .iconMenu:before {
    transition: all 0.2s;
  }
  .iconMenu._active:before {
    transform: translate3d(0, -50%, 0) rotate(45deg);
    top: 50%;
  }
  .iconMenu._active:after {
    transform: translate3d(0, 50%, 0) rotate(-45deg);
    bottom: 50%;
  }
  .iconMenu._active span {
    transform: translate3d(0, -50%, 0) scale(0);
  }
  .menu__dropBox {
    display: none;
  }
  .menu__dropBox {
    padding-top: 0;
    position: static;
    transform: translateY(0);
  }
  .menu__dropBody {
    display: block;
    padding: 30px 20px 20px;
    margin-top: 20px;
  }
  .menu__dropCol {
    margin-bottom: 30px;
    font-size: 1.4rem;
  }
  .menu__dropCol:nth-child(2) {
    padding: 0;
  }
  .menu__dropItem:not(:last-of-type) {
    margin-bottom: 30px;
  }
  .hero__content {
    padding: 50px 0;
    display: block;
  }
  .hero__itemWrp {
    flex: 0 1 100%;
    transform: translateY(0);
  }
  .hero__itemWrp:not(:last-child) {
    margin-bottom: 30px;
  }
  .hero__itemBox {
    max-width: 400px;
    margin: 0 auto;
  }
  .benefits__content {
    padding: 128px 0 117px;
  }
  .benefits__body {
    padding-top: 40px;
  }
  .benefits__itemWrp {
    margin: 60px 0;
  }
  .benefits__itemWrp {
    flex: 0 1 100%;
  }
  .promotions__container {
    padding: 0;
  }
  .promoSlider__body {
    padding: 0 10px 90px;
  }
  .promoSlider__offerPreview {
    font-size: 2.8rem;
  }
  .promoSlider__title {
    font-size: 3.2rem;
  }
  .promoSlider__txt {
    margin-bottom: 30px;
    font-size: 1.6rem;
  }
  .promoSlider__list {
    font-size: 1.6rem;
  }
  .promoSlider__pagination {
    bottom: 35px;
  }
  .promoSlider__pagination span {
    width: 13px;
    height: 13px;
  }
  .services__content {
    padding: 90px 0 100px;
  }
  .services__subtitle {
    font-size: 1.6rem;
  }
  .services__itemTitle {
    font-size: 2.2rem;
  }
  .services__itemTxt {
    font-size: 1.6rem;
  }
  .reviews__content {
    padding: 90px 0 100px;
  }
  .reviews__title {
    margin-bottom: 60px;
  }
  .reviews__body {
    margin: 0 -10px 42px;
  }
  .about__content {
    padding: 90px 0 105px;
  }
  .contacts__itemBox {
    padding: 30px 20px 20px;
    top: 0;
    width: auto;
    margin: 0 -10px;
  }
  .contacts__itemBox:before {
    display: none;
  }
  .serviceHero {
    background-color: #1b8ce3;
  }
  .serviceHero__content {
    min-height: unset;
    padding: 60px 0;
    max-width: 375px;
    margin: 0 auto;
    text-align: center;
  }
  .serviceHero__title {
    font-size: 4rem;
    margin-bottom: 25px;
  }
  .serviceHero__txt {
    font-size: 1.8rem;
  }
  .serviceAbout__content {
    padding: 10px 0 47px;
  }
  .serviceAbout__title {
    font-size: 2.4rem;
  }
  .servicePrice__content {
    padding: 65px 0 73px;
  }
  .servicePrice__title {
    font-size: 2.4rem;
  }
  .servicePrice__body {
    margin-bottom: 54px;
  }
  .servicePrice__spollerTitle {
    font-size: 1.6rem;
    padding: 22px 28px 17px;
  }
  .servicePrice__spollerContent {
    padding: 0 25px 40px;
  }
  .servicePrice__itemTitle {
    font-size: 1.6rem;
  }
  .servicePrice__listItem {
    font-size: 1.6rem;
    padding: 5px 0 12px;
  }
  .servicePrice__count {
    font-size: 1.6rem;
    padding: 5px 8px 6px;
    min-width: 100px;
    top: 2px;
  }
  .serviceCta__content {
    padding: 70px 0 80px;
  }
  .serviceCta .formBox__btn {
    font-size: 1.8rem;
  }
  .footer__row--bottom ._container {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .footer__menu {
    margin-left: 30px;
  }
  .footer__menuItem {
    text-align: center;
  }
  .footer__policy {
    margin-bottom: 20px;
  }
  .footer__copy {
    margin: 0;
  }
}
@media (max-width: 640px) {
  .footer__row--top ._container {
    flex-direction: column;
    align-items: center;
  }
  .footer__logoBox {
    margin-bottom: 30px;
  }
}
@media (max-width: 630px) {
  .footer__menu {
    margin: 0;
  }
}
@media (max-width: 520px) {
  .contacts__itemBox {
    max-width: unset;
  }
}
@media (max-width: 479.98px) {
  .title {
    font-size: 2.6rem;
  }
  .breadcrumbs {
    font-size: 1.2rem;
    padding: 15px 0;
  }
  .popup__close {
    width: 23px;
    height: 23px;
  }
  .formBox__subTitle {
    font-size: 1.4rem;
  }
  .formBox__inp {
    font-size: 1.6rem;
    padding: 12px 12px 10px;
  }
  .formBox__inpRow--area {
    font-size: 1.6rem;
    padding: 12px 0 10px;
  }
  .formBox__tarea {
    font-size: 1.6rem;
    padding: 0 12px;
  }
  .formBox__btn {
    margin-bottom: 20px;
  }
  .logoBox {
    flex: 0 1 auto;
  }
  .logoBox__img {
    height: 50px;
    width: 50px;
  }
  .logoBox__title {
    font-size: 1.6rem;
    line-height: 1.1;
    margin-bottom: 5px;
  }
  .logoBox__subTitle {
    font-size: 1rem;
  }
  .hero__content {
    padding: 40px 0;
  }
  ._no-webp .hero__itemWrp:nth-child(1) a {
    background: url(../img/hero/h1.png) top 30px left 52%/60px 60px no-repeat, linear-gradient(#fefde1, #fefde1);
  }
  ._no-webp .hero__itemWrp:nth-child(2) a {
    background: url(../img/hero/h2.png) top 30px center/54px 54px no-repeat, linear-gradient(#e2f6da, #e2f6da);
  }
  ._no-webp .hero__itemWrp:nth-child(3) a {
    background: url(../img/hero/h3.png) top 30px left 50%/67px 57px no-repeat, linear-gradient(#e5efff, #e5efff);
  }
  .hero__itemBox {
    padding: 112px 20px 25px;
    max-width: 300px;
    font-size: 1.6rem;
  }
  .benefits__content {
    padding: 90px 0 80px;
  }
  .benefits__body {
    padding-top: 65px;
  }
  .benefits__imgBox {
    width: 115px;
    height: 115px;
    transform: translateX(0);
  }
  .benefits__imgBox:after {
    font-size: 4rem;
  }
  ._no-webp .benefits__imgBox--0:before {
    background: url(../img/benefits/1b.png) center/65px 65px no-repeat;
  }
  .benefits__imgBox--0:before {
    bottom: 5px;
  }
  ._no-webp .benefits__imgBox--1:before {
    background: url(../img/benefits/2b.png) center/67px 63px no-repeat;
  }
  .benefits__imgBox--1:before {
    bottom: 3px;
    left: -25px;
  }
  ._no-webp .benefits__imgBox--2:before {
    background: url(../img/benefits/3b.png) center/52px 67px no-repeat;
  }
  .benefits__imgBox--2:before {
    bottom: 5px;
    left: -25px;
  }
  ._no-webp .benefits__imgBox--3:before {
    background: url(../img/benefits/4b.png) center/58px 69px no-repeat;
  }
  .benefits__imgBox--3:before {
    left: -25px;
    bottom: 5px;
  }
  .benefits__txt {
    font-size: 1.8rem;
  }
  .promoSlider__offerPreview {
    font-size: 2.2rem;
  }
  .promoSlider__title {
    font-size: 2.4rem;
  }
  .promoSlider__txt {
    font-size: 1.4rem;
  }
  .promoSlider__list {
    font-size: 1.4rem;
    padding-left: 22px;
  }
  .promoSlider__item {
    padding-left: 35px;
  }
  .promoSlider__item svg {
    width: 22px;
    height: 22px;
  }
  .services__subtitle {
    font-size: 1.5rem;
    margin-bottom: 60px;
  }
  .services__itemBox {
    padding: 25px 20px;
  }
  .services__itemTitle {
    margin-bottom: 15px;
  }
  .services__itemTxt {
    font-size: 1.4rem;
    line-height: 1.4;
    padding-bottom: 20px;
  }
  .contacts__itemTitle {
    font-size: 2rem;
    max-width: unset;
    margin-bottom: 20px;
  }
  .contacts__contactsItem {
    font-size: 1.4rem;
  }
  .contacts__contactsItemTitle {
    font-size: 1.4rem;
    margin-bottom: 5px;
  }
  .serviceHero__title {
    font-size: 3.5rem;
    margin-bottom: 15px;
  }
  .serviceHero__txt {
    font-size: 1.6rem;
  }
  .serviceAbout__title {
    font-size: 2.2rem;
    margin-bottom: 30px;
  }
  .serviceAbout__txtBox {
    font-size: 1.4rem;
  }
  .servicePrice__content {
    padding: 65px 0 35px;
  }
  .servicePrice__title {
    font-size: 2.2rem;
    margin-bottom: 30px;
  }
  .servicePrice__listInfo {
    font-size: 1.4rem;
  }
  .servicePrice__body {
    margin-bottom: 45px;
  }
  .servicePrice__spollerTitle {
    font-size: 1.4rem;
    padding: 15px 20px 15px;
  }
  .servicePrice__spollerContent {
    padding: 0 10px 30px;
  }
  .servicePrice__itemWrp {
    padding-left: 105px;
  }
  .servicePrice__itemTitle {
    font-size: 1.4rem;
  }
  .servicePrice__listItem {
    font-size: 1.4rem;
  }
  .servicePrice__count {
    font-size: 1.4rem;
    padding: 5px 8px 6px;
    min-width: 90px;
    top: 2px;
    left: -10px;
  }
  .serviceCta__content {
    padding: 60px 0 80px;
  }
  .footer__row--bottom {
    font-size: 1.3rem;
  }
  .footer__row--bottom ._container {
    padding: 20px 10px 25px;
  }
  .footer__logoBox > div > div:nth-child(1) {
    font-size: 1.4rem;
  }
  .footer__social > span {
    display: none;
  }
  .footer__phoneList {
    font-size: 1.8rem;
  }
  ._webp .hero__itemWrp:nth-child(1) a {
    background: url(../img/hero/h1.webp) top 30px left 52%/60px 60px no-repeat, linear-gradient(#fefde1, #fefde1);
  }
  ._webp .hero__itemWrp:nth-child(2) a {
    background: url(../img/hero/h2.webp) top 30px center/54px 54px no-repeat, linear-gradient(#e2f6da, #e2f6da);
  }
  ._webp .hero__itemWrp:nth-child(3) a {
    background: url(../img/hero/h3.webp) top 30px left 50%/67px 57px no-repeat, linear-gradient(#e5efff, #e5efff);
  }
  ._webp .benefits__imgBox--0:before {
    background: url(../img/benefits/1b.webp) center/65px 65px no-repeat;
  }
  ._webp .benefits__imgBox--1:before {
    background: url(../img/benefits/2b.webp) center/67px 63px no-repeat;
  }
  ._webp .benefits__imgBox--2:before {
    background: url(../img/benefits/3b.webp) center/52px 67px no-repeat;
  }
  ._webp .benefits__imgBox--3:before {
    background: url(../img/benefits/4b.webp) center/58px 69px no-repeat;
  }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .header__btnBox {
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
  }
  .header__btnBox .btn {
    margin: 0;
  }
  .header__btnBox .btn:last-child {
    margin-top: 10px;
  }
  .serviceHero__bg {
    width: 100vw;
  }
}
@media (max-width: 1170px) and (min-width: 767.98px) {
  .benefits__itemWrp:nth-child(2n) {
    position: relative;
    bottom: -40px;
  }
  .benefits__itemWrp:nth-child(2n-1) {
    position: relative;
    bottom: 40px;
  }
}
@media (min-width: 767.98px) and (max-width: 1170px) {
  .services__content:before {
    right: -695px;
  }
}
